<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Angular">
	<meta name="author" content="Volodymyr Lipunov @ Codify Academy">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
	<script src="js/app.js"></script>
	<script src="js/controllers/myController.js"></script>
	<script src="js/controllers/costController.js"></script>
	<script src="js/controllers/usersController.js"></script>
	<script src="js/main.js"></script>
	<title>Angular</title>
	<link rel="stylesheet" href="css/main.css">
</head>
<body ng-app="myApp">

	<div ng-controller="myController">
		<p>{{ name.first + " " + name.last }}</p>
		<p>{{ student.name + " is from " + student.origin + " he is ranked number " + student.rank }}</p>
	</div>
	<div ng-controller="costController">
		<h1>{{ price | currency }}</h1>
	</div>
	<div ng-controller="usersController">
		<ul>
			<li ng-repeat="user in users">
				{{"name: " + user.name + ", password: " + user.password}}
			</li>
		</ul>
	</div>

	<div ng-view></div>

	<div>
		<p>Name: <input type="text" ng-model="name"></p>
		<h1>Hello {{name}}</h1>
	</div>
</body>
</html>